html,
body {
  margin: 0;
  padding: 0;
  background: #ca8c7d;
  width: 100%;
}

.container {
  text-align: center;
  width: 100%;
  height: 100dvh;
}
h1 {
  margin: 0;
  position: relative;
  top: 250px;
  color: #ffffff;
  font-size: 72px;
}
img {
  width: 940px;
  height: auto;
}
